<h2>List the owners who own at least a unit in a specific condo</h2>

<form method='get'>
  <p>
    <label>Condo Name</label>
    <input type='text' name='condo_name' value='<%= @condo_name %>' />
  </p>
  <p>
    <input type='submit' value='Search'/>
  </p>
</form>

<% if @owners.present? %>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
      <tr>
    </thead>
    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.id %></td>
          <td><%= owner.name %></td>
          <td><%= owner.address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
