<h2>List all owners</h2>

<% if @owners.present? %>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
      <tr>
    </thead>
    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.id %></td>
          <td><%= owner.name %></td>
          <td><%= owner.address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
